_ide/
_x/
.ipcache/
.Xil/
cfg/
extracted/
sim/
drivers/
*.jou

Work/
sd_card/

*.log
*.csv
*.db
*.img
*.BIN
*.bin
*.xclbin
*.bif
*.xsa
*.link_summary
*.package_summary
*.exe
*.a
*.txt
*.ltx
*.npy
*.pdi
aie_primitive.json

hls/.Xil/
hls/fft_strided_mm2s/
hls/fft_strided_mm2s_bat/
hls/fft_strided_mm2s_bat_fan_out/
hls/fft_strided_s2mm/
hls/uram_controller/
hls/mm2s/
hls/s2mm/
hls/tile_s2mm/
hls/tile_transpose
hls/direct_transpose
hls/hls/

sw/cnpy/
sw/aie_control_xrt.*
*.o

make
verify/*.html
verify/data_rx_1024_complex_64.npy
verify/output.npy

# hardware emulation
emu_qemu_scripts/
launch_hw_emu.sh
qemu_resize_img.sh